<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 "
  id="sidenav-main">
  <div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
      aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0" href='' target="_blank">
      <img src="/../img/logo-ct-dark.png" class="navbar-brand-img h-100" alt="main_logo">
      <span class="ms-1 font-weight-bold">SYS </span>
    </a>
  </div>
  <div>
    <ul>
      <li class="nav-item">
        <a class="nav-link  " href="../cotizacion/index">
          <div
            class="icon icon-shape icon-m shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">

            <svg fill="#000000" width="800px" height="800px" viewBox="0 0 59.65 59.65" id="Capa_1" version="1.1"
              xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>Cotizaciones</title>
              <g>

                <path
                  d="M35.033,49.65c-1.93,0-3.5,1.57-3.5,3.5s1.57,3.5,3.5,3.5s3.5-1.57,3.5-3.5S36.963,49.65,35.033,49.65z M35.033,54.65   c-0.827,0-1.5-0.673-1.5-1.5s0.673-1.5,1.5-1.5s1.5,0.673,1.5,1.5S35.861,54.65,35.033,54.65z" />

                <path
                  d="M13.568,21.211l3.535,3.535c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414   l-2.192-2.192c1.101-1.665,1.101-3.85,0-5.515l4.384-4.385c1.621,1.078,3.893,1.078,5.516,0l2.192,2.192   c0.391,0.391,1.023,0.391,1.414,0s0.391-1.023,0-1.414l-3.536-3.536l-0.707,0.707c-1.134,1.133-3.109,1.133-4.243,0l-0.707-0.707   l-7.071,7.071l0.707,0.707c1.169,1.17,1.169,3.073,0,4.243L13.568,21.211z" />

                <path
                  d="M43.337,28.353c-1.101,1.665-1.101,3.85,0,5.515l-4.384,4.385c-1.623-1.079-3.895-1.079-5.516,0l-2.192-2.192   c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414l3.536,3.536l0.707-0.707c1.134-1.134,3.109-1.132,4.243,0l0.707,0.707   l7.071-7.071l-0.707-0.707c-1.169-1.17-1.169-3.073,0-4.243l0.707-0.707l-3.535-3.535c-0.391-0.391-1.023-0.391-1.414,0   s-0.391,1.023,0,1.414L43.337,28.353z" />

                <circle cx="47.509" cy="31.11" r="1" />

                <circle cx="36.195" cy="42.424" r="1" />

                <path
                  d="M24.174,7.776c0.391-0.391,0.758-1.024,0.368-1.414c-0.391-0.391-1.024-0.391-1.414,0   c-0.391,0.391-0.758,1.024-0.368,1.414C23.151,8.166,23.784,8.166,24.174,7.776z" />

                <circle cx="12.154" cy="18.382" r="1" />

                <path
                  d="M51.533,37.15c0-0.88-0.143-1.744-0.413-2.58l3.455-3.455l-4.555-4.612c0.943-0.84,1.513-2.05,1.513-3.353   c0-2.481-2.019-4.5-4.5-4.5c-0.182,0-0.362,0.018-0.54,0.04c0.022-0.178,0.04-0.357,0.04-0.54c0-2.481-2.019-4.5-4.5-4.5   c-0.182,0-0.362,0.018-0.54,0.04c0.022-0.178,0.04-0.357,0.04-0.54c0-2.481-2.019-4.5-4.5-4.5c-0.182,0-0.362,0.018-0.54,0.04   c0.022-0.178,0.04-0.357,0.04-0.54c0-2.607-1.738-4.5-4.132-4.5c-1.308,0-2.628,0.566-3.544,1.422L23.847,0L5.075,18.374   l9.243,9.244c-0.494,0.722-0.784,1.593-0.784,2.532c0,1.564,0.804,2.942,2.019,3.748c0.06,0.08,0.132,0.161,0.226,0.241   l10.755,10.715v1.796h-2v13h18h8v-13h-2v-3.029C50.447,42,51.533,39.669,51.533,37.15z M15.533,30.15   c0-0.657,0.26-1.251,0.675-1.697l0.153-0.14c0.348-0.318,0.766-0.528,1.207-0.616c0.151-0.029,0.305-0.047,0.464-0.047h2.201h7.799   c1.378,0,2.5,1.121,2.5,2.5c0,0.162-0.018,0.319-0.048,0.473c-0.211,1.052-1.11,1.892-2.22,1.999l-0.297,0.028h-5.79h-2.828h-1.317   C16.655,32.65,15.533,31.529,15.533,30.15z M24.175,19.089c3.119-3.119,8.194-3.119,11.313,0c1.511,1.511,2.343,3.521,2.343,5.657   s-0.832,4.146-2.343,5.657c-1.005,1.005-2.252,1.709-3.598,2.065c0.108-0.179,0.202-0.367,0.285-0.561   c0.005-0.012,0.008-0.026,0.014-0.038c0.095-0.229,0.166-0.469,0.223-0.715c0.015-0.064,0.028-0.127,0.04-0.191   c0.048-0.265,0.082-0.534,0.082-0.813c0-2.481-2.019-4.5-4.5-4.5h-6.145C21.611,23.232,22.437,20.827,24.175,19.089z M49.533,23.15   c0,0.758-0.347,1.462-0.919,1.928l-3.488-3.532c0.468-0.557,1.159-0.897,1.907-0.897C48.412,20.65,49.533,21.771,49.533,23.15z    M44.533,18.15c0,0.743-0.337,1.43-0.888,1.897l-3.488-3.532c0.467-0.537,1.143-0.866,1.876-0.866   C43.412,15.65,44.533,16.771,44.533,18.15z M39.533,13.15c0,0.727-0.326,1.4-0.857,1.866l-3.488-3.531   c0.466-0.517,1.127-0.834,1.844-0.834C38.412,10.65,39.533,11.771,39.533,13.15z M32.401,5.65c1.473,0,2.132,1.256,2.132,2.5   c0,0.712-0.314,1.369-0.825,1.834l-3.45-3.493C30.802,5.998,31.618,5.65,32.401,5.65z M23.823,2.822l3.904,3.952L27.641,6.97l5,5   l0.573,0.573l4.427,4.427l0.573,0.573l4.427,4.427l0.573,0.573l5,5l0.016-0.007l3.526,3.57L36.212,46.65h-0.033l-12-12h3.854   c0.102,0,0.198-0.023,0.299-0.03c0.498,0.076,0.997,0.117,1.494,0.117c2.633,0,5.193-1.038,7.075-2.92   c1.889-1.889,2.929-4.4,2.929-7.071s-1.04-5.183-2.929-7.071c-3.898-3.898-10.243-3.898-14.142,0   c-2.119,2.119-3.152,5.031-2.88,7.976h-1.847c-0.264,0-0.523,0.032-0.78,0.079c-0.083,0.015-0.165,0.031-0.246,0.05   c-0.186,0.045-0.368,0.102-0.546,0.17c-0.155,0.058-0.303,0.128-0.449,0.203c-0.073,0.038-0.149,0.069-0.22,0.11L7.919,18.39   L23.823,2.822z M28.181,43.634c-0.045-0.039-0.092-0.074-0.18-0.14l-8.877-8.844h2.227l12,12h-4.817v-2.718L28.181,43.634z    M26.533,57.65v-9h7.678h0.747c0.139,0,0.276,0.011,0.412,0.021l0.824,0.824l0.547-0.547c2.201,0.746,3.791,2.827,3.791,5.276   v3.426H26.533z M48.533,57.65h-6v-3.426c0-2.206-0.954-4.189-2.464-5.574h8.464V57.65z M39.04,46.65l3.729-3.729l6.697-6.697   c0.045,0.306,0.067,0.614,0.067,0.926c0,2.055-0.948,3.947-2.602,5.191l-0.398,0.3v4.009H39.04z" />

              </g>

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

            </svg>
            </svg>
          </div>
          <span class="nav-link-text ms-1">Cotizaciones</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link  " href="">
          <div
            class="icon icon-shape icon-m shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">

            
        <svg fill="#000000" width="800px" height="800px" viewBox="0 0 60.013 60.013" id="Capa_1" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M11.68,12.506l-0.832-5h-2.99c-0.447-1.72-1.999-3-3.858-3c-2.206,0-4,1.794-4,4s1.794,4,4,4c1.859,0,3.411-1.28,3.858-3  h1.294l0.5,3H9.624l0.222,1.161l0,0.003c0,0,0,0,0,0l2.559,13.374l1.044,5.462h0.001l1.342,7.015  c-2.468,0.186-4.525,2.084-4.768,4.475c-0.142,1.405,0.32,2.812,1.268,3.858c0.949,1.05,2.301,1.652,3.707,1.652h2  c0,3.309,2.691,6,6,6s6-2.691,6-6h11c0,3.309,2.691,6,6,6s6-2.691,6-6h4c0.553,0,1-0.447,1-1s-0.447-1-1-1h-4.35  c-0.826-2.327-3.043-4-5.65-4s-4.824,1.673-5.65,4h-11.7c-0.826-2.327-3.043-4-5.65-4s-4.824,1.673-5.65,4H15  c-0.842,0-1.652-0.362-2.224-0.993c-0.577-0.639-0.848-1.461-0.761-2.316c0.152-1.509,1.546-2.69,3.173-2.69h0.781  c0.02,0,0.038,0,0.06,0l6.128-0.002L33,41.501v-0.001l7.145-0.002L51,41.496v-0.001l4.024-0.001c2.751,0,4.988-2.237,4.988-4.987  V12.494L11.68,12.506z M4,10.506c-1.103,0-2-0.897-2-2s0.897-2,2-2s2,0.897,2,2S5.103,10.506,4,10.506z M46,45.506  c2.206,0,4,1.794,4,4s-1.794,4-4,4s-4-1.794-4-4S43.794,45.506,46,45.506z M23,45.506c2.206,0,4,1.794,4,4s-1.794,4-4,4  s-4-1.794-4-4S20.794,45.506,23,45.506z M58.013,21.506H51v-7.011l7.013-0.002V21.506z M42,39.498v-6.991h7v6.989L42,39.498z   M42,30.506v-7h7v7H42z M24,39.503v-6.997h7v6.995L24,39.503z M24,30.506v-7h7v7H24z M13.765,23.506H22v7h-6.895L13.765,23.506z   M49,21.506h-7v-7h7V21.506z M40,21.506h-7V14.5l7-0.002V21.506z M31,14.506v7h-7v-7H31z M33,23.506h7v7h-7V23.506z M51,23.506h7v7  h-7V23.506z M22,14.504v7.003h-8.618l-1.34-7L22,14.504z M15.487,32.506H22v6.997l-5.173,0.002L15.487,32.506z M33,32.506h7v6.992  L33,39.5V32.506z M55.024,39.494L51,39.495v-6.989h7.013v4C58.013,38.154,56.672,39.494,55.024,39.494z"/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/></svg>
          </div>
          <span class="nav-link-text ms-1">Compras</span>
        </a>
      </li>




      <li class="nav-item">
        <a class="nav-link <% if ( locals.area =='ventas') { %> active <% }%>" href="../ordenventa/index">
          <div
            class="icon icon-shape icon-m shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">

            <svg fill="#000000" width="800px" height="800px" viewBox="0 0 60 60" id="Capa_1" version="1.1"
              xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>Ventas</title>
              <g>

                <path
                  d="M60,11h-4h-1.5h-4h-1h-4h-1H44V8h-2V6.889C42,3.09,38.91,0,35.111,0H24.889C21.09,0,18,3.09,18,6.889V8h-2v3h-0.5h-1h-4h-1   h-4H4H0v4.245c0,2.213,0.356,4.342,1,6.343v29.796c0,2.018,1.367,3.768,3.324,4.257L13.755,58c5.3,1.325,10.751,1.988,16.203,1.992   C29.973,59.992,29.985,60,30,60s0.027-0.008,0.042-0.008c5.452-0.003,10.903-0.667,16.203-1.992l9.431-2.358   C57.633,55.152,59,53.402,59,51.385V21.588c0.644-2.001,1-4.131,1-6.343V11z M42,11h-1.5h-1H36v-1h6V11z M30.5,11h-1H26V8h-2V6.444   c0-0.271,0.175-0.417,0.25-0.468c0.074-0.051,0.275-0.155,0.527-0.053c3.369,1.393,7.078,1.393,10.445,0   c0.25-0.102,0.453,0.002,0.527,0.053C35.825,6.027,36,6.173,36,6.444V8h-2v3H30.5z M20,6.889C20,4.193,22.193,2,24.889,2h10.223   C37.807,2,40,4.193,40,6.889V8h-2V6.444c0-0.857-0.426-1.653-1.138-2.13c-0.713-0.478-1.612-0.565-2.403-0.238   c-2.875,1.188-6.043,1.188-8.918,0c-0.792-0.328-1.69-0.24-2.403,0.238C22.426,4.791,22,5.587,22,6.444V8h-2V6.889z M18,10h6v1   h-3.5h-1H18V10z M2,13h2.153c0.174,0.294,0.48,0.5,0.847,0.5c0.368,0,0.682-0.204,0.856-0.5H9.5h1h4h1H16h3.5h1h4h1H26h3.5h1H34   h0.5h1h4h1H44h0.5h1h4h1h3.644c0.174,0.296,0.488,0.5,0.856,0.5c0.366,0,0.673-0.206,0.847-0.5H58v2.245   C58,25.587,49.587,34,39.245,34H36v-6H24v6h-3.245C10.413,34,2,25.587,2,15.245V13z M34,36v3h-8v-3v-6h8V36z M7,54.25V53.35   c0-0.553-0.447-1-1-1s-1,0.447-1,1v0.4l-0.191-0.048C3.744,53.436,3,52.482,3,51.385V25.938c0.594,0.982,1.257,1.915,2,2.782v0.63   c0,0.553,0.447,1,1,1c0.16,0,0.306-0.046,0.441-0.113C10.168,33.798,15.205,36,20.755,36H24v5h5v16.977   c-4.969-0.076-9.929-0.709-14.761-1.917L7,54.25z M57,51.385c0,1.098-0.744,2.051-1.809,2.317l-0.245,0.061   c-0.119-0.42-0.488-0.733-0.946-0.733c-0.553,0-1,0.447-1,1v0.22l-7.239,1.81c-4.832,1.207-9.792,1.841-14.761,1.917V41h5v-5h3.245   c5.368,0,10.251-2.066,13.94-5.423c0.18,0.267,0.469,0.453,0.815,0.453c0.553,0,1-0.447,1-1v-1c0-0.09-0.029-0.171-0.051-0.254   c0.763-0.884,1.444-1.834,2.051-2.838V51.385z" />

                <path
                  d="M28.568,36H29v1c0,0.553,0.447,1,1,1s1-0.447,1-1v-1h0.432C32.297,36,33,35.297,33,34.432v-1.863   C33,31.703,32.297,31,31.432,31h-2.863C27.703,31,27,31.703,27,32.568v1.863C27,35.297,27.703,36,28.568,36z M29,33h2v1h-2V33z" />

                <path d="M38,32h0.5c0.553,0,1-0.447,1-1s-0.447-1-1-1H38c-0.553,0-1,0.447-1,1S37.447,32,38,32z" />

                <path
                  d="M42.376,31.688c0.065,0,0.132-0.006,0.199-0.02c0.341-0.069,0.679-0.148,1.012-0.239c0.533-0.146,0.848-0.695,0.702-1.228   c-0.146-0.534-0.698-0.848-1.228-0.702c-0.29,0.079-0.585,0.148-0.883,0.208c-0.541,0.109-0.892,0.637-0.782,1.179   C41.492,31.36,41.91,31.688,42.376,31.688z" />

                <path
                  d="M46.924,30.002c0.165,0,0.333-0.041,0.487-0.128c0.303-0.169,0.598-0.346,0.889-0.533c0.464-0.298,0.599-0.917,0.3-1.382   c-0.298-0.464-0.915-0.601-1.382-0.3c-0.256,0.164-0.518,0.321-0.783,0.471c-0.482,0.27-0.654,0.879-0.384,1.36   C46.233,29.818,46.573,30.002,46.924,30.002z" />

                <path
                  d="M53.052,22.919c0.14,0.066,0.286,0.098,0.431,0.098c0.373,0,0.731-0.21,0.903-0.568c0.148-0.311,0.287-0.626,0.417-0.945   c0.208-0.512-0.039-1.095-0.551-1.303c-0.51-0.207-1.095,0.038-1.303,0.551c-0.114,0.282-0.237,0.561-0.368,0.834   C52.343,22.083,52.554,22.681,53.052,22.919z" />

                <path
                  d="M50.743,27.015c0.267,0,0.532-0.106,0.729-0.315c0.235-0.251,0.463-0.509,0.684-0.774c0.354-0.425,0.296-1.055-0.129-1.408   c-0.425-0.354-1.057-0.294-1.408,0.129c-0.195,0.234-0.397,0.463-0.605,0.685c-0.378,0.403-0.357,1.036,0.045,1.414   C50.252,26.925,50.498,27.015,50.743,27.015z" />

                <path
                  d="M54.74,18.363c0.046,0.006,0.091,0.009,0.135,0.009c0.493,0,0.923-0.364,0.99-0.866c0.046-0.34,0.082-0.684,0.106-1.029   c0.04-0.551-0.374-1.03-0.925-1.069c-0.54-0.034-1.029,0.374-1.069,0.925c-0.022,0.305-0.055,0.607-0.095,0.906   C53.81,17.786,54.193,18.289,54.74,18.363z" />

                <path
                  d="M16.407,31.429c0.332,0.089,0.668,0.168,1.008,0.237c0.067,0.014,0.135,0.021,0.201,0.021c0.465,0,0.882-0.326,0.979-0.8   c0.11-0.541-0.238-1.069-0.779-1.18c-0.301-0.062-0.596-0.131-0.889-0.21c-0.53-0.141-1.081,0.173-1.226,0.706   C15.558,30.736,15.874,31.285,16.407,31.429z" />

                <path
                  d="M7.414,21.576c-0.132-0.274-0.254-0.552-0.368-0.834c-0.207-0.512-0.789-0.76-1.302-0.552   c-0.512,0.207-0.759,0.79-0.552,1.302c0.13,0.321,0.27,0.638,0.419,0.949c0.172,0.358,0.529,0.567,0.902,0.567   c0.145,0,0.292-0.031,0.432-0.099C7.443,22.671,7.653,22.074,7.414,21.576z" />

                <path
                  d="M8.521,26.694c0.197,0.209,0.463,0.315,0.729,0.315c0.245,0,0.491-0.09,0.685-0.271c0.402-0.378,0.423-1.011,0.045-1.414   c-0.209-0.222-0.41-0.449-0.604-0.684c-0.354-0.426-0.983-0.486-1.408-0.133c-0.426,0.353-0.484,0.983-0.133,1.408   C8.057,26.183,8.285,26.441,8.521,26.694z" />

                <path
                  d="M11.694,29.337c0.29,0.188,0.586,0.365,0.889,0.534c0.154,0.087,0.322,0.128,0.487,0.128c0.351,0,0.69-0.184,0.873-0.512   c0.271-0.481,0.099-1.091-0.384-1.36c-0.266-0.149-0.526-0.306-0.781-0.47c-0.465-0.3-1.084-0.167-1.382,0.298   C11.097,28.419,11.23,29.038,11.694,29.337z" />

                <path
                  d="M5.264,18.354c0.547-0.076,0.929-0.582,0.852-1.129c-0.042-0.299-0.072-0.6-0.095-0.902   c-0.04-0.552-0.522-0.97-1.069-0.925c-0.551,0.039-0.965,0.519-0.925,1.069c0.024,0.348,0.061,0.693,0.108,1.035   c0.07,0.5,0.498,0.861,0.989,0.861C5.17,18.363,5.217,18.36,5.264,18.354z" />

                <path d="M21.5,32H22c0.553,0,1-0.447,1-1s-0.447-1-1-1h-0.5c-0.553,0-1,0.447-1,1S20.947,32,21.5,32z" />

                <path
                  d="M54,48.03c-0.553,0-1,0.447-1,1v1c0,0.553,0.447,1,1,1s1-0.447,1-1v-1C55,48.478,54.553,48.03,54,48.03z" />

                <path
                  d="M54,33.03c-0.553,0-1,0.447-1,1v1c0,0.553,0.447,1,1,1s1-0.447,1-1v-1C55,33.478,54.553,33.03,54,33.03z" />

                <path
                  d="M54,38.03c-0.553,0-1,0.447-1,1v1c0,0.553,0.447,1,1,1s1-0.447,1-1v-1C55,38.478,54.553,38.03,54,38.03z" />

                <path
                  d="M54,43.03c-0.553,0-1,0.447-1,1v1c0,0.553,0.447,1,1,1s1-0.447,1-1v-1C55,43.478,54.553,43.03,54,43.03z" />

                <path
                  d="M6,47.35c-0.553,0-1,0.447-1,1v1c0,0.553,0.447,1,1,1s1-0.447,1-1v-1C7,47.797,6.553,47.35,6,47.35z" />

                <path
                  d="M6,42.35c-0.553,0-1,0.447-1,1v1c0,0.553,0.447,1,1,1s1-0.447,1-1v-1C7,42.797,6.553,42.35,6,42.35z" />

                <path
                  d="M6,32.35c-0.553,0-1,0.447-1,1v1c0,0.553,0.447,1,1,1s1-0.447,1-1v-1C7,32.797,6.553,32.35,6,32.35z" />

                <path
                  d="M6,37.35c-0.553,0-1,0.447-1,1v1c0,0.553,0.447,1,1,1s1-0.447,1-1v-1C7,37.797,6.553,37.35,6,37.35z" />

                <path d="M36,16H24v6h12V16z M34,20h-8v-2h8V20z" />

              </g>

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

            </svg>
          </div>
          <span class="nav-link-text ms-1">Ventas</span>
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link  " href="../itemcompra/index">
          <div
            class="icon icon-shape icon-m shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">

            <svg width="800px" height="800px" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <title>Items</title>
              <path fill-rule="nonzero" clip-rule="nonzero"
                d="M4.84989 2.37195C4.59895 2.51683 4.33488 2.91636 4.30424 3.78785C4.28968 4.20181 3.9423 4.52559 3.52835 4.51103C3.11439 4.49647 2.79061 4.1491 2.80516 3.73514C2.84273 2.66673 3.1806 1.60366 4.09989 1.07291C5.02179 0.540653 6.11484 0.782356 7.06128 1.28727C7.42674 1.48224 7.56495 1.93656 7.36998 2.30201C7.17501 2.66747 6.72069 2.80568 6.35524 2.61072C5.5818 2.1981 5.10158 2.22663 4.84989 2.37195ZM8.87139 3.67284C9.19036 3.40858 9.66315 3.45293 9.92741 3.7719C10.4818 4.44103 11.0136 5.20405 11.4963 6.04018C12.5366 7.84191 13.178 9.68785 13.3509 11.2362C13.4372 12.0091 13.4108 12.7446 13.2303 13.3754C13.0484 14.011 12.6941 14.5863 12.0999 14.9293C11.381 15.3444 10.5509 15.2855 9.79114 15.0089C9.02868 14.7313 8.24395 14.2056 7.49586 13.5228C7.18993 13.2435 7.16831 12.7691 7.44756 12.4632C7.72681 12.1573 8.20119 12.1356 8.50712 12.4149C9.16624 13.0165 9.78567 13.4105 10.3043 13.5994C10.8257 13.7892 11.1537 13.7436 11.3499 13.6303C11.5143 13.5354 11.6797 13.342 11.7882 12.9627C11.8981 12.5787 11.9328 12.0529 11.8602 11.4026C11.7152 10.1045 11.1591 8.45607 10.1973 6.79018C9.75492 6.02396 9.27081 5.33055 8.77232 4.72886C8.50807 4.40989 8.55242 3.93709 8.87139 3.67284Z"
                fill="#000000" />
              <path fill-rule="nonzero" clip-rule="nonzero"
                d="M14.5 8.20557C14.5 7.91581 14.286 7.48735 13.5466 7.02507C13.1954 6.80549 13.0887 6.34276 13.3083 5.99154C13.5279 5.64032 13.9906 5.53361 14.3418 5.75319C15.2483 6.31993 16 7.14407 16 8.20557C16 9.27009 15.2442 10.0958 14.3337 10.663C13.9821 10.882 13.5195 10.7746 13.3005 10.423C13.0815 10.0714 13.189 9.60887 13.5405 9.38985C14.2846 8.92635 14.5 8.4962 14.5 8.20557ZM11.3626 11.0378C11.432 11.4462 11.1572 11.8335 10.7488 11.9029C9.89219 12.0484 8.96547 12.1274 8 12.1274C5.91954 12.1274 4.00018 11.76 2.57286 11.1355C1.86032 10.8238 1.23659 10.4332 0.780529 9.9615C0.320977 9.48616 0 8.89166 0 8.20557C0 7.37549 0.466082 6.68599 1.08548 6.16636C1.70712 5.64485 2.55471 5.22808 3.52013 4.92164C3.91494 4.79633 4.33657 5.01479 4.46189 5.40959C4.5872 5.80439 4.36874 6.22603 3.97394 6.35135C3.12334 6.62134 2.4724 6.96078 2.04954 7.31553C1.62442 7.67217 1.5 7.97899 1.5 8.20557C1.5 8.39536 1.58476 8.6353 1.85895 8.91891C2.13663 9.20613 2.57464 9.49905 3.17409 9.76131C4.37076 10.2848 6.07639 10.6274 8 10.6274C8.88475 10.6274 9.72732 10.5549 10.4976 10.424C10.906 10.3547 11.2933 10.6295 11.3626 11.0378Z"
                fill="#000000" />
              <path fill-rule="nonzero" clip-rule="nonzero"
                d="M4.87192 13.6303C5.12286 13.7752 5.6009 13.8041 6.37095 13.3949C6.73673 13.2005 7.19082 13.3395 7.38519 13.7052C7.57957 14.071 7.44062 14.5251 7.07484 14.7195C6.13079 15.2211 5.04121 15.4601 4.12192 14.9293C3.20003 14.3971 2.86282 13.3296 2.82687 12.2575C2.81299 11.8435 3.13733 11.4967 3.55131 11.4828C3.96529 11.4689 4.31215 11.7932 4.32603 12.2072C4.35541 13.0834 4.62023 13.485 4.87192 13.6303ZM3.98778 9.49712C3.59944 9.35301 3.40145 8.92138 3.54556 8.53304C3.84786 7.71839 4.24274 6.8763 4.72548 6.04018C5.76571 4.23845 7.04361 2.75996 8.29806 1.83609C8.92431 1.37487 9.57441 1.02999 10.211 0.870901C10.8524 0.71059 11.5278 0.729863 12.1219 1.07291C12.8408 1.48795 13.2049 2.23634 13.3452 3.03257C13.486 3.83168 13.4232 4.77409 13.2058 5.7634C13.1169 6.16796 12.7169 6.42388 12.3124 6.33501C11.9078 6.24613 11.6519 5.84612 11.7408 5.44155C11.9322 4.56992 11.9637 3.83647 11.868 3.29288C11.7717 2.7464 11.5681 2.48524 11.3719 2.37195C11.2076 2.27705 10.9574 2.23049 10.5747 2.32614C10.1871 2.42301 9.71442 2.65588 9.18757 3.04388C8.13584 3.81846 6.98632 5.12428 6.02452 6.79018C5.58214 7.55639 5.22369 8.32235 4.95185 9.0549C4.80774 9.44323 4.37611 9.64122 3.98778 9.49712Z"
                fill="#000000" />
              <path
                d="M9.45925 8.06618C9.45925 8.81694 8.85063 9.42556 8.09987 9.42556C7.34911 9.42556 6.7405 8.81694 6.7405 8.06618C6.7405 7.31542 7.34911 6.70681 8.09987 6.70681C8.85063 6.70681 9.45925 7.31542 9.45925 8.06618Z"
                fill="#000000" />
            </svg>
          </div>
          <span class="nav-link-text ms-1">Items</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  " href="/../indicator/index">
          <div
            class="icon icon-shape icon-m shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <svg fill="#000000" height="800px" width="800px" version="1.1" id="Capa_1"
              xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 345 345"
              xml:space="preserve">
              <g>
                <path
                  d="M327.5,309.601H35V17.899c0-9.665-7.835-17.5-17.5-17.5C7.835,0.399,0,8.234,0,17.899v309.202
               c0,9.665,7.835,17.5,17.5,17.5h310c9.665,0,17.5-7.835,17.5-17.5C345,317.436,337.165,309.601,327.5,309.601z" />
                <path d="M75.552,234.954c4.737,0,9.458-1.912,12.91-5.68l48.744-53.222l87.189,38.293c7.5,3.294,16.285,0.944,21.137-5.658
               l53.488-72.763l4.493,31.321c1.252,8.725,8.736,15.019,17.301,15.018c0.827,0,1.665-0.059,2.506-0.18
               c9.567-1.372,16.21-10.24,14.838-19.807l-10.626-74.086c-1.372-9.567-10.243-16.207-19.807-14.838L233.64,83.978
               c-9.567,1.372-16.211,10.24-14.838,19.807c1.372,9.567,10.241,16.211,19.807,14.838l33.19-4.76l-46.163,62.799l-85.832-37.697
               c-6.861-3.013-14.88-1.323-19.942,4.203l-57.21,62.465c-6.528,7.127-6.042,18.197,1.085,24.725
               C67.096,233.435,71.331,234.954,75.552,234.954z" />
              </g>
            </svg>
          </div>
          <span class="nav-link-text ms-1">Indicadores</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link  " href="/../users/register">
          <div
            class="icon icon-shape icon-m shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <svg fill="#000000" width="800px" height="800px" viewBox="0 0 59 59" id="Capa_1" version="1.1"
              xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title></title>
              <g>

                <path
                  d="M59,39V13H11V5c0-0.553-0.448-1-1-1H7.858C7.411,2.28,5.858,1,4,1C1.794,1,0,2.794,0,5s1.794,4,4,4   c1.858,0,3.411-1.28,3.858-3H9v7v1v24v1v9c0,0.553,0.448,1,1,1h7.031C15.806,49.912,15,51.359,15,53c0,2.757,2.243,5,5,5   s5-2.243,5-5c0-1.641-0.806-3.088-2.031-4h18.062C39.806,49.912,39,51.359,39,53c0,2.757,2.243,5,5,5s5-2.243,5-5   c0-1.641-0.806-3.088-2.031-4H53c0.553,0,1-0.447,1-1s-0.447-1-1-1H11v-8H59z M4,7C2.897,7,2,6.103,2,5s0.897-2,2-2   c0.737,0,1.375,0.405,1.722,1H5C4.448,4,4,4.447,4,5s0.448,1,1,1h0.722C5.375,6.595,4.737,7,4,7z M20,56c-1.654,0-3-1.346-3-3   s1.346-3,3-3s3,1.346,3,3S21.654,56,20,56z M44,56c-1.654,0-3-1.346-3-3s1.346-3,3-3s3,1.346,3,3S45.654,56,44,56z M57,37H11V15h46   V37z" />

                <circle cx="31" cy="20" r="1" />

                <circle cx="34" cy="17" r="1" />

                <circle cx="34" cy="23" r="1" />

                <circle cx="37" cy="20" r="1" />

                <circle cx="25" cy="20" r="1" />

                <circle cx="28" cy="17" r="1" />

                <circle cx="28" cy="23" r="1" />

                <circle cx="13" cy="20" r="1" />

                <circle cx="19" cy="20" r="1" />

                <circle cx="16" cy="17" r="1" />

                <circle cx="22" cy="17" r="1" />

                <circle cx="16" cy="23" r="1" />

                <circle cx="22" cy="23" r="1" />

                <circle cx="55" cy="20" r="1" />

                <circle cx="40" cy="17" r="1" />

                <circle cx="40" cy="23" r="1" />

                <circle cx="43" cy="20" r="1" />

                <circle cx="49" cy="20" r="1" />

                <circle cx="31" cy="26" r="1" />

                <circle cx="37" cy="26" r="1" />

                <circle cx="25" cy="26" r="1" />

                <circle cx="13" cy="26" r="1" />

                <circle cx="19" cy="26" r="1" />

                <circle cx="55" cy="26" r="1" />

                <circle cx="43" cy="26" r="1" />

                <circle cx="49" cy="26" r="1" />

                <circle cx="46" cy="17" r="1" />

                <circle cx="52" cy="17" r="1" />

                <circle cx="46" cy="23" r="1" />

                <circle cx="52" cy="23" r="1" />

                <circle cx="31" cy="32" r="1" />

                <circle cx="34" cy="29" r="1" />

                <circle cx="34" cy="35" r="1" />

                <circle cx="37" cy="32" r="1" />

                <circle cx="25" cy="32" r="1" />

                <circle cx="28" cy="29" r="1" />

                <circle cx="28" cy="35" r="1" />

                <circle cx="13" cy="32" r="1" />

                <circle cx="19" cy="32" r="1" />

                <circle cx="16" cy="29" r="1" />

                <circle cx="22" cy="29" r="1" />

                <circle cx="16" cy="35" r="1" />

                <circle cx="22" cy="35" r="1" />

                <circle cx="55" cy="32" r="1" />

                <circle cx="40" cy="29" r="1" />

                <circle cx="40" cy="35" r="1" />

                <circle cx="43" cy="32" r="1" />

                <circle cx="49" cy="32" r="1" />

                <circle cx="46" cy="29" r="1" />

                <circle cx="52" cy="29" r="1" />

                <circle cx="46" cy="35" r="1" />

                <circle cx="52" cy="35" r="1" />

              </g>

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

            </svg>
          </div>
          <span class="nav-link-text ms-1">Compras</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  " href="/../users/register">
          <div
            class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <svg width="12px" height="20px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>Recepcion</title>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-1720.000000, -592.000000)" fill="#FFFFFF" fill-rule="nonzero">
                  <g transform="translate(1716.000000, 291.000000)">
                    <g transform="translate(4.000000, 301.000000)">
                      <path class="color-background"
                        d="M39.3,0.706666667 C38.9660984,0.370464027 38.5048767,0.192278529 38.0316667,0.216666667 C14.6516667,1.43666667 6.015,22.2633333 5.93166667,22.4733333 C5.68236407,23.0926189 5.82664679,23.8009159 6.29833333,24.2733333 L15.7266667,33.7016667 C16.2013871,34.1756798 16.9140329,34.3188658 17.535,34.065 C17.7433333,33.98 38.4583333,25.2466667 39.7816667,1.97666667 C39.8087196,1.50414529 39.6335979,1.04240574 39.3,0.706666667 Z M25.69,19.0233333 C24.7367525,19.9768687 23.3029475,20.2622391 22.0572426,19.7463614 C20.8115377,19.2304837 19.9992882,18.0149658 19.9992882,16.6666667 C19.9992882,15.3183676 20.8115377,14.1028496 22.0572426,13.5869719 C23.3029475,13.0710943 24.7367525,13.3564646 25.69,14.31 C26.9912731,15.6116662 26.9912731,17.7216672 25.69,19.0233333 L25.69,19.0233333 Z">
                      </path>
                      <path class="color-background opacity-6"
                        d="M1.855,31.4066667 C3.05106558,30.2024182 4.79973884,29.7296005 6.43969145,30.1670277 C8.07964407,30.6044549 9.36054508,31.8853559 9.7979723,33.5253085 C10.2353995,35.1652612 9.76258177,36.9139344 8.55833333,38.11 C6.70666667,39.9616667 0,40 0,40 C0,40 0,33.2566667 1.855,31.4066667 Z">
                      </path>
                      <path class="color-background opacity-6"
                        d="M17.2616667,3.90166667 C12.4943643,3.07192755 7.62174065,4.61673894 4.20333333,8.04166667 C3.31200265,8.94126033 2.53706177,9.94913142 1.89666667,11.0416667 C1.5109569,11.6966059 1.61721591,12.5295394 2.155,13.0666667 L5.47,16.3833333 C8.55036617,11.4946947 12.5559074,7.25476565 17.2616667,3.90166667 L17.2616667,3.90166667 Z">
                      </path>
                      <path class="color-background opacity-6"
                        d="M36.0983333,22.7383333 C36.9280725,27.5056357 35.3832611,32.3782594 31.9583333,35.7966667 C31.0587397,36.6879974 30.0508686,37.4629382 28.9583333,38.1033333 C28.3033941,38.4890431 27.4704606,38.3827841 26.9333333,37.845 L23.6166667,34.53 C28.5053053,31.4496338 32.7452344,27.4440926 36.0983333,22.7383333 L36.0983333,22.7383333 Z">
                      </path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <span class="nav-link-text ms-1">Recepción</span>
        </a>
      </li>

      <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-100">Calidad</h6>
      <li class="nav-item">
        <a class="nav-link  " href="/../users/register">
          <div
            class="icon icon-shape icon-m shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">


            <svg fill="#000000" height="800px" width="800px" version="1.1" id="Capa_1"
              xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 220 220"
              xml:space="preserve">
              <title>Control recepción</title>
              <path d="M211.5,15.022C211.5,6.726,204.774,0,196.478,0H23.522C15.226,0,8.5,6.726,8.5,15.022v189.955
	C8.5,213.274,15.226,220,23.522,220h172.955c8.297,0,15.022-6.726,15.022-15.022V15.022z M88.5,199h-49v-45h49V199z M88.5,132h-49
	V88h49V132z M88.5,66h-49V21h49V66z M144.803,199.63l-26.306-26.306l11.205-11.205l15.101,15.102l23.65-23.65l11.205,11.205
	L144.803,199.63z M144.803,133.03l-26.306-26.306l11.205-11.205l15.101,15.101l23.65-23.65l11.205,11.205L144.803,133.03z
	 M144.803,66.429l-26.306-26.306l11.205-11.205l15.101,15.101l23.65-23.65l11.205,11.205L144.803,66.429z" />
            </svg>
          </div>
          <span class="nav-link-text ms-1">Control recepción</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  " href="/../users/register">
          <div
            class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <svg width="12px" height="20px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>Control recepción</title>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-1720.000000, -592.000000)" fill="#FFFFFF" fill-rule="nonzero">
                  <g transform="translate(1716.000000, 291.000000)">
                    <g transform="translate(4.000000, 301.000000)">
                      <path class="color-background"
                        d="M39.3,0.706666667 C38.9660984,0.370464027 38.5048767,0.192278529 38.0316667,0.216666667 C14.6516667,1.43666667 6.015,22.2633333 5.93166667,22.4733333 C5.68236407,23.0926189 5.82664679,23.8009159 6.29833333,24.2733333 L15.7266667,33.7016667 C16.2013871,34.1756798 16.9140329,34.3188658 17.535,34.065 C17.7433333,33.98 38.4583333,25.2466667 39.7816667,1.97666667 C39.8087196,1.50414529 39.6335979,1.04240574 39.3,0.706666667 Z M25.69,19.0233333 C24.7367525,19.9768687 23.3029475,20.2622391 22.0572426,19.7463614 C20.8115377,19.2304837 19.9992882,18.0149658 19.9992882,16.6666667 C19.9992882,15.3183676 20.8115377,14.1028496 22.0572426,13.5869719 C23.3029475,13.0710943 24.7367525,13.3564646 25.69,14.31 C26.9912731,15.6116662 26.9912731,17.7216672 25.69,19.0233333 L25.69,19.0233333 Z">
                      </path>
                      <path class="color-background opacity-6"
                        d=" M149.3333333333333 234.6666666666667H106.6666666666667C100.7786666666667 234.6666666666667 96 229.888 96 224V32C96 26.112 100.7786666666667 21.3333333333333 106.6666666666667 21.3333333333333H149.3333333333334C155.2213333333334 21.3333333333333 160 26.112 160 32V224C160 229.888 155.2213333333333 234.6666666666667 149.3333333333333 234.6666666666667z M53.3333333333333 117.3333333333334H10.6666666666667C4.7786666666667 117.3333333333334 0 112.5546666666667 0 106.6666666666667V32C0 26.112 4.7786666666667 21.3333333333334 10.6666666666667 21.3333333333334H53.3333333333333C59.2213333333333 21.3333333333334 64 26.112 64 32V106.6666666666667C64 112.5546666666667 59.2213333333333 117.3333333333334 53.3333333333333 117.3333333333334z M245.3333333333333 170.6666666666667H202.6666666666667C196.7786666666667 170.6666666666667 192 165.888 192 160V32C192 26.112 196.7786666666667 21.3333333333333 202.6666666666667 21.3333333333333H245.3333333333333C251.2213333333333 21.3333333333333 256 26.112 256 32V160C256 165.888 251.2213333333333 170.6666666666667 245.3333333333333 170.6666666666667z">
                      </path>
                      <path class="color-background opacity-6"
                        d="M17.2616667,3.90166667 C12.4943643,3.07192755 7.62174065,4.61673894 4.20333333,8.04166667 C3.31200265,8.94126033 2.53706177,9.94913142 1.89666667,11.0416667 C1.5109569,11.6966059 1.61721591,12.5295394 2.155,13.0666667 L5.47,16.3833333 C8.55036617,11.4946947 12.5559074,7.25476565 17.2616667,3.90166667 L17.2616667,3.90166667 Z">
                      </path>
                      <path class="color-background opacity-6"
                        d="M36.0983333,22.7383333 C36.9280725,27.5056357 35.3832611,32.3782594 31.9583333,35.7966667 C31.0587397,36.6879974 30.0508686,37.4629382 28.9583333,38.1033333 C28.3033941,38.4890431 27.4704606,38.3827841 26.9333333,37.845 L23.6166667,34.53 C28.5053053,31.4496338 32.7452344,27.4440926 36.0983333,22.7383333 L36.0983333,22.7383333 Z">
                      </path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <span class="nav-link-text ms-1">Control de proceso</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  " href="/../users/register">
          <div
            class="icon icon-shape icon-m shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <svg width="800px" height="800px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">

              <defs>

                <style>
                  .cls-1,
                  .cls-2 {
                    fill: none;
                    stroke: #000000;
                    stroke-linejoin: round;
                    stroke-width: 2px;
                  }

                  .cls-1 {
                    stroke-linecap: round;
                  }
                </style>

              </defs>

              <g id="deposit">

                <circle class="cls-1" cx="46" cy="10" r="2" />

                <circle cx="17.0992" cy="9.5232" r="1.0691" />

                <line class="cls-1" x1="52.5509" x2="55.5509" y1="14.0547" y2="17.0547" />

                <line class="cls-1" x1="55.5509" x2="52.5509" y1="14.0547" y2="17.0547" />

                <polyline class="cls-1" points="7 30.169 7 59 55 59 55 30.217" />

                <path class="cls-1"
                  d="M54.998,30.0005a1.9909,1.9909,0,0,1-1.0581-.3047L31,15.3584,8.06,29.6958a2,2,0,0,1-2.12-3.3916l24-15a2.0005,2.0005,0,0,1,2.12,0l24,15a2,2,0,0,1-1.0621,3.6963Z" />

                <polyline class="cls-1" points="17 58.808 17 49 25.84 49" />

                <rect class="cls-1" height="10" width="4" x="40" y="49" />

                <polyline class="cls-2" points="49 59 49 32 13 32 13 59" />

                <rect class="cls-1" height="7" width="18" x="22" y="52" />

                <polyline class="cls-2" points="26 52 26 45 36 45 36 52" />

                <line class="cls-2" x1="13" x2="49" y1="36" y2="36" />

                <line class="cls-2" x1="13" x2="49" y1="40" y2="40" />

                <line class="cls-2" x1="31" x2="31" y1="59" y2="52" />

              </g>

            </svg>
          </div>
          <span class="nav-link-text ms-1">Almacén</span>
        </a>
      </li>

      <li class="nav-item mt-3">
        <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-100">Logistica</h6>
      </li>
      <li class="nav-item">
        <a class="nav-link  " href="/../pages/profile.html">
          <div
            class="icon icon-shape icon-m shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">

            <svg fill="#000000" width="800px" height="800px" viewBox="0 -33.95 122.88 122.88" version="1.1" id="Layer_1"
              xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              style="enable-background:new 0 0 122.88 54.98" xml:space="preserve">

              <style type="text/css">
                .st0 {
                  fill-rule: evenodd;
                  clip-rule: evenodd;
                }
              </style>
              <title>Despacho</title>
              <g>

                <path class="st0"
                  d="M120.11,5.33c-0.76-3.61-2.9-5.24-6.12-5.32H51.31c-4.31,0-11.56-0.28-15.03,2.64 c-5.9,4.21-10.49,11.67-15.47,16.53c-4.05,0.52-13.42,1.91-15.58,3.83c-2.49,2.22-2.46,9.37-2.43,12.4 c-4.63-0.09-2.76,11.12,0.24,11.76h6.45c-4.14-24.65,31-21.59,25.7,0h46.66c-5.43-20.67,29.19-25.49,25.86,0.26 c2.58-0.26,3.9-0.52,6.48-0.78c4.95-0.5,8.52-0.33,8.52-6.81C123.17,27,122.81,14.99,120.11,5.33L120.11,5.33z M95.01,39.37 c2.84,0,5.14,2.3,5.14,5.14c0,2.84-2.3,5.14-5.14,5.14c-2.84,0-5.14-2.3-5.14-5.14C89.87,41.68,92.17,39.37,95.01,39.37 L95.01,39.37z M47.68,4.47h-6.44c-4.27,0-9.97,6.17-13.2,12.25c-0.33,0.62-2.9,4.87-1.18,4.87h20.81v-0.65V5.12V4.47L47.68,4.47z M22.12,39.37c2.84,0,5.14,2.3,5.14,5.14c0,2.84-2.3,5.14-5.14,5.14c-2.84,0-5.14-2.3-5.14-5.14 C16.98,41.68,19.28,39.37,22.12,39.37L22.12,39.37z M22.12,34.05c5.78,0,10.46,4.68,10.46,10.46c0,5.78-4.68,10.46-10.46,10.46 s-10.46-4.68-10.46-10.46C11.66,38.74,16.35,34.05,22.12,34.05L22.12,34.05z M95.01,34.05c5.78,0,10.46,4.68,10.46,10.46 c0,5.78-4.68,10.46-10.46,10.46s-10.46-4.68-10.46-10.46C84.55,38.74,89.23,34.05,95.01,34.05L95.01,34.05z" />

              </g>

            </svg>
          </div>

        </a>
      </li>
      <li class="nav-item mt-3">

      </li>
      <li class="nav-item">
        <a class="nav-link  " href="/../pages/profile.html">
          <div
            class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <svg width="12px" height="12px" viewBox="0 0 46 42" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>cliente-support</title>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-1717.000000, -291.000000)" fill="#FFFFFF" fill-rule="nonzero">
                  <g transform="translate(1716.000000, 291.000000)">
                    <g transform="translate(1.000000, 0.000000)">
                      <path class="color-background opacity-6"
                        d="M45,0 L26,0 C25.447,0 25,0.447 25,1 L25,20 C25,20.379 25.214,20.725 25.553,20.895 C25.694,20.965 25.848,21 26,21 C26.212,21 26.424,20.933 26.6,20.8 L34.333,15 L45,15 C45.553,15 46,14.553 46,14 L46,1 C46,0.447 45.553,0 45,0 Z">
                      </path>
                      <path class="color-background"
                        d="M22.883,32.86 C20.761,32.012 17.324,31 13,31 C8.676,31 5.239,32.012 3.116,32.86 C1.224,33.619 0,35.438 0,37.494 L0,41 C0,41.553 0.447,42 1,42 L25,42 C25.553,42 26,41.553 26,41 L26,37.494 C26,35.438 24.776,33.619 22.883,32.86 Z">
                      </path>
                      <path class="color-background"
                        d="M13,28 C17.432,28 21,22.529 21,18 C21,13.589 17.411,10 13,10 C8.589,10 5,13.589 5,18 C5,22.529 8.568,28 13,28 Z">
                      </path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <span class="nav-link-text ms-1">Transportistas</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link  " href="/../pages/profile.html">
          <div
            class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <svg width="12px" height="12px" viewBox="0 0 46 42" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>cliente-support</title>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-1717.000000, -291.000000)" fill="#FFFFFF" fill-rule="nonzero">
                  <g transform="translate(1716.000000, 291.000000)">
                    <g transform="translate(1.000000, 0.000000)">
                      <path class="color-background opacity-6"
                        d="M45,0 L26,0 C25.447,0 25,0.447 25,1 L25,20 C25,20.379 25.214,20.725 25.553,20.895 C25.694,20.965 25.848,21 26,21 C26.212,21 26.424,20.933 26.6,20.8 L34.333,15 L45,15 C45.553,15 46,14.553 46,14 L46,1 C46,0.447 45.553,0 45,0 Z">
                      </path>
                      <path class="color-background"
                        d="M22.883,32.86 C20.761,32.012 17.324,31 13,31 C8.676,31 5.239,32.012 3.116,32.86 C1.224,33.619 0,35.438 0,37.494 L0,41 C0,41.553 0.447,42 1,42 L25,42 C25.553,42 26,41.553 26,41 L26,37.494 C26,35.438 24.776,33.619 22.883,32.86 Z">
                      </path>
                      <path class="color-background"
                        d="M13,28 C17.432,28 21,22.529 21,18 C21,13.589 17.411,10 13,10 C8.589,10 5,13.589 5,18 C5,22.529 8.568,28 13,28 Z">
                      </path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <span class="nav-link-text ms-1">Recepcion</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link <% if ( locals.area =='itemcompra') { %> active <% }%>" href="../itemcompra/index">
          <div
            class="icon icon-shape icon-m shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">

            <svg fill="#000000" height="800px" width="800px" version="1.1" id="Capa_1"
              xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 357.157 357.157" xml:space="preserve">
              <title></title>

              <g>
                <g id="Layer_5_57_">
                  <g>
                    <g>
                      <g>
                        <g>
                          <ellipse cx="62.58" cy="137.477" rx="32.521" ry="32.187" />
                        </g>
                        <path d="M124.946,248.606l-21.684-57.315c-0.552-1.454-5.216-11.056-13.877-11.056c-2.739,0-50.253,0.072-51.808,0.072
                         c0,0-0.254,0-1.796,0c-9.695,0-13.324,9.53-13.874,10.984L0.221,248.606c-0.551,1.454-0.231,3.26,2.82,3.26
                         c0,0,11.705,0,16.002,0c2.916,0,3.824-2.552,3.824-2.552l10.338-27.74c0,0,1.301-3.552,1.301,0.301
                         c0,5.296,0.068,19.443,0.103,26.242c0.012,2.292,0.367,3.749,3.075,3.749c14.023,0,39.598,0,52.796,0
                         c3.749,0,3.292-1.952,3.284-4.895c-0.02-7.176-0.056-20.247-0.056-25.306c0-2.603,0.923-0.826,0.923-0.826l9.71,28.041
                         c0,0,0.926,2.985,4.363,2.985c3.651,0,13.26,0,13.26,0C125.119,251.867,125.497,250.06,124.946,248.606z M75.348,232.168
                         l-10.912,10.035c-1.02,0.939-2.691,0.939-3.712,0l-10.913-10.035c-1.021-0.938-1.623-2.817-1.339-4.174l5.689-27.172
                         c0.086-0.406,0.343-1.636,0.32-1.915c-0.111-1.433-0.446-5.73-0.446-5.73c-0.108-1.383,0.938-2.515,2.324-2.515h12.44
                         c1.387,0,2.433,1.132,2.324,2.515c0,0-0.336,4.298-0.447,5.73c-0.021,0.278,0.236,1.509,0.32,1.915l5.69,27.172
                         C76.972,229.351,76.369,231.23,75.348,232.168z" />
                      </g>
                      <g>
                        <g>
                          <ellipse cx="294.58" cy="137.477" rx="32.521" ry="32.187" />
                        </g>
                        <path d="M356.946,248.606l-21.684-57.315c-0.551-1.454-5.216-11.056-13.877-11.056c-2.739,0-50.253,0.072-51.808,0.072
                         c0,0-0.254,0-1.796,0c-9.695,0-13.324,9.53-13.874,10.984l-21.686,57.315c-0.551,1.454-0.231,3.26,2.82,3.26
                         c0,0,11.705,0,16.003,0c2.915,0,3.823-2.552,3.823-2.552l10.339-27.74c0,0,1.299-3.552,1.299,0.301
                         c0,5.296,0.069,19.443,0.104,26.242c0.012,2.292,0.367,3.749,3.075,3.749c14.023,0,39.597,0,52.796,0
                         c3.749,0,3.292-1.952,3.284-4.895c-0.021-7.176-0.056-20.247-0.056-25.306c0-2.603,0.922-0.826,0.922-0.826l9.711,28.041
                         c0,0,0.926,2.985,4.363,2.985c3.652,0,13.26,0,13.26,0C357.119,251.867,357.497,250.06,356.946,248.606z M307.348,232.168
                         l-10.912,10.035c-1.021,0.939-2.691,0.939-3.712,0l-10.913-10.035c-1.021-0.938-1.623-2.817-1.339-4.174l5.689-27.172
                         c0.086-0.406,0.343-1.636,0.32-1.915c-0.111-1.433-0.446-5.73-0.446-5.73c-0.108-1.383,0.938-2.515,2.324-2.515h12.44
                         c1.387,0,2.433,1.132,2.324,2.515c0,0-0.336,4.298-0.447,5.73c-0.021,0.278,0.236,1.509,0.32,1.915l5.69,27.172
                         C308.972,229.351,308.369,231.23,307.348,232.168z" />
                      </g>
                    </g>
                    <path d="M65.838,82.559c1.576,1.065,3.413,1.629,5.31,1.629c3.165,0,6.111-1.564,7.88-4.183
                     c21.904-32.424,58.309-51.781,97.381-51.781c30.858,0,61.144,12.57,83.09,34.487c0.639,0.637,0.616,0.947,0.611,0.98
                     c-0.015,0.109-0.172,0.305-0.484,0.483l-6.205,2.742c-2.568,1.135-3.996,2.769-4.02,4.602c-0.024,1.833,1.36,3.505,3.898,4.707
                     l25.027,11.855c1.26,0.597,2.551,0.899,3.836,0.9c3.771,0,6.777-2.558,7.659-6.518l5.432-24.37
                     c0.517-2.326,0.242-4.241-0.797-5.538c-1.388-1.729-3.944-2.029-6.858-0.741l-6.662,2.944c-0.312,0.153-0.658,0.231-1.03,0.231
                     c-1.098,0-2.154-0.661-2.477-1.014c-25.881-28.441-62.701-44.752-101.02-44.752c-45.393,0-87.683,22.484-113.125,60.145
                     c-1.42,2.103-1.937,4.633-1.454,7.124C62.31,78.984,63.734,81.139,65.838,82.559z" />
                    <path d="M295.33,280.663c-0.482-2.491-1.905-4.645-4.009-6.066c-1.576-1.065-3.413-1.629-5.31-1.629
                     c-3.165,0-6.111,1.564-7.88,4.183c-21.904,32.424-58.309,51.781-97.381,51.781c-30.858,0-61.144-12.57-83.091-34.488
                     c-0.638-0.636-0.615-0.946-0.61-0.979c0.015-0.109,0.172-0.304,0.483-0.483l6.206-2.742c2.568-1.135,3.996-2.77,4.02-4.603
                     c0.024-1.832-1.36-3.504-3.898-4.706l-25.027-11.856c-1.26-0.597-2.551-0.899-3.836-0.899c-3.77,0-6.777,2.558-7.659,6.518
                     l-5.432,24.37c-0.518,2.326-0.242,4.241,0.797,5.537c0.811,1.012,2.013,1.546,3.475,1.547c1.037,0,2.175-0.271,3.384-0.805
                     l6.662-2.944c0.312-0.153,0.658-0.231,1.03-0.231c1.098,0,2.154,0.661,2.477,1.014c25.881,28.441,62.701,44.752,101.02,44.752
                     c45.393,0,87.683-22.484,113.125-60.145C295.296,285.684,295.812,283.154,295.33,280.663z" />
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <span class="nav-link-text ms-1">Items</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link <% if ( locals.area =='cliente') { %> active <% }%>" href="../cliente/index">
          <div
            class="icon icon-shape icon-m shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">

            <svg fill="#000000" height="800px" width="800px" version="1.1" id="Capa_1"
              xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 357.157 357.157" xml:space="preserve">
              <title>Personas</title>

              <g>
                <g id="Layer_5_57_">
                  <g>
                    <g>
                      <g>
                        <g>
                          <ellipse cx="62.58" cy="137.477" rx="32.521" ry="32.187" />
                        </g>
                        <path d="M124.946,248.606l-21.684-57.315c-0.552-1.454-5.216-11.056-13.877-11.056c-2.739,0-50.253,0.072-51.808,0.072
                         c0,0-0.254,0-1.796,0c-9.695,0-13.324,9.53-13.874,10.984L0.221,248.606c-0.551,1.454-0.231,3.26,2.82,3.26
                         c0,0,11.705,0,16.002,0c2.916,0,3.824-2.552,3.824-2.552l10.338-27.74c0,0,1.301-3.552,1.301,0.301
                         c0,5.296,0.068,19.443,0.103,26.242c0.012,2.292,0.367,3.749,3.075,3.749c14.023,0,39.598,0,52.796,0
                         c3.749,0,3.292-1.952,3.284-4.895c-0.02-7.176-0.056-20.247-0.056-25.306c0-2.603,0.923-0.826,0.923-0.826l9.71,28.041
                         c0,0,0.926,2.985,4.363,2.985c3.651,0,13.26,0,13.26,0C125.119,251.867,125.497,250.06,124.946,248.606z M75.348,232.168
                         l-10.912,10.035c-1.02,0.939-2.691,0.939-3.712,0l-10.913-10.035c-1.021-0.938-1.623-2.817-1.339-4.174l5.689-27.172
                         c0.086-0.406,0.343-1.636,0.32-1.915c-0.111-1.433-0.446-5.73-0.446-5.73c-0.108-1.383,0.938-2.515,2.324-2.515h12.44
                         c1.387,0,2.433,1.132,2.324,2.515c0,0-0.336,4.298-0.447,5.73c-0.021,0.278,0.236,1.509,0.32,1.915l5.69,27.172
                         C76.972,229.351,76.369,231.23,75.348,232.168z" />
                      </g>
                      <g>
                        <g>
                          <ellipse cx="294.58" cy="137.477" rx="32.521" ry="32.187" />
                        </g>
                        <path d="M356.946,248.606l-21.684-57.315c-0.551-1.454-5.216-11.056-13.877-11.056c-2.739,0-50.253,0.072-51.808,0.072
                         c0,0-0.254,0-1.796,0c-9.695,0-13.324,9.53-13.874,10.984l-21.686,57.315c-0.551,1.454-0.231,3.26,2.82,3.26
                         c0,0,11.705,0,16.003,0c2.915,0,3.823-2.552,3.823-2.552l10.339-27.74c0,0,1.299-3.552,1.299,0.301
                         c0,5.296,0.069,19.443,0.104,26.242c0.012,2.292,0.367,3.749,3.075,3.749c14.023,0,39.597,0,52.796,0
                         c3.749,0,3.292-1.952,3.284-4.895c-0.021-7.176-0.056-20.247-0.056-25.306c0-2.603,0.922-0.826,0.922-0.826l9.711,28.041
                         c0,0,0.926,2.985,4.363,2.985c3.652,0,13.26,0,13.26,0C357.119,251.867,357.497,250.06,356.946,248.606z M307.348,232.168
                         l-10.912,10.035c-1.021,0.939-2.691,0.939-3.712,0l-10.913-10.035c-1.021-0.938-1.623-2.817-1.339-4.174l5.689-27.172
                         c0.086-0.406,0.343-1.636,0.32-1.915c-0.111-1.433-0.446-5.73-0.446-5.73c-0.108-1.383,0.938-2.515,2.324-2.515h12.44
                         c1.387,0,2.433,1.132,2.324,2.515c0,0-0.336,4.298-0.447,5.73c-0.021,0.278,0.236,1.509,0.32,1.915l5.69,27.172
                         C308.972,229.351,308.369,231.23,307.348,232.168z" />
                      </g>
                    </g>
                    <path d="M65.838,82.559c1.576,1.065,3.413,1.629,5.31,1.629c3.165,0,6.111-1.564,7.88-4.183
                     c21.904-32.424,58.309-51.781,97.381-51.781c30.858,0,61.144,12.57,83.09,34.487c0.639,0.637,0.616,0.947,0.611,0.98
                     c-0.015,0.109-0.172,0.305-0.484,0.483l-6.205,2.742c-2.568,1.135-3.996,2.769-4.02,4.602c-0.024,1.833,1.36,3.505,3.898,4.707
                     l25.027,11.855c1.26,0.597,2.551,0.899,3.836,0.9c3.771,0,6.777-2.558,7.659-6.518l5.432-24.37
                     c0.517-2.326,0.242-4.241-0.797-5.538c-1.388-1.729-3.944-2.029-6.858-0.741l-6.662,2.944c-0.312,0.153-0.658,0.231-1.03,0.231
                     c-1.098,0-2.154-0.661-2.477-1.014c-25.881-28.441-62.701-44.752-101.02-44.752c-45.393,0-87.683,22.484-113.125,60.145
                     c-1.42,2.103-1.937,4.633-1.454,7.124C62.31,78.984,63.734,81.139,65.838,82.559z" />
                    <path d="M295.33,280.663c-0.482-2.491-1.905-4.645-4.009-6.066c-1.576-1.065-3.413-1.629-5.31-1.629
                     c-3.165,0-6.111,1.564-7.88,4.183c-21.904,32.424-58.309,51.781-97.381,51.781c-30.858,0-61.144-12.57-83.091-34.488
                     c-0.638-0.636-0.615-0.946-0.61-0.979c0.015-0.109,0.172-0.304,0.483-0.483l6.206-2.742c2.568-1.135,3.996-2.77,4.02-4.603
                     c0.024-1.832-1.36-3.504-3.898-4.706l-25.027-11.856c-1.26-0.597-2.551-0.899-3.836-0.899c-3.77,0-6.777,2.558-7.659,6.518
                     l-5.432,24.37c-0.518,2.326-0.242,4.241,0.797,5.537c0.811,1.012,2.013,1.546,3.475,1.547c1.037,0,2.175-0.271,3.384-0.805
                     l6.662-2.944c0.312-0.153,0.658-0.231,1.03-0.231c1.098,0,2.154,0.661,2.477,1.014c25.881,28.441,62.701,44.752,101.02,44.752
                     c45.393,0,87.683-22.484,113.125-60.145C295.296,285.684,295.812,283.154,295.33,280.663z" />
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <span class="nav-link-text ms-1">Personas</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link <% if ( locals.area =='organizacion') { %> active <% }%>" href="../organizacion/index">
          <div
            class="icon icon-shape icon-m shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <svg fill="#000000" width="800px" height="800px" viewBox="0 0 60 60" id="Capa_1" version="1.1"
              xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

              <g>

                <path d="M16,57h14V38H16V57z M18,40h10v15H18V40z" />

                <path
                  d="M41,33c0.256,0,0.512-0.098,0.707-0.293l4-4c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0l-4,4   c-0.391,0.391-0.391,1.023,0,1.414C40.488,32.902,40.744,33,41,33z" />

                <path
                  d="M41,38c0.256,0,0.512-0.098,0.707-0.293l2-2c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0l-2,2   c-0.391,0.391-0.391,1.023,0,1.414C40.488,37.902,40.744,38,41,38z" />

                <path
                  d="M44.29,32.29C44.109,32.479,44,32.729,44,33c0,0.26,0.109,0.52,0.29,0.71C44.479,33.89,44.74,34,45,34s0.52-0.11,0.71-0.29   C45.89,33.52,46,33.26,46,33s-0.11-0.521-0.29-0.71C45.33,31.92,44.66,31.92,44.29,32.29z" />

                <path
                  d="M46.293,31.707C46.488,31.902,46.744,32,47,32s0.512-0.098,0.707-0.293l3-3c0.391-0.391,0.391-1.023,0-1.414   s-1.023-0.391-1.414,0l-3,3C45.902,30.684,45.902,31.316,46.293,31.707z" />

                <path
                  d="M49.293,32.293l-9,9c-0.391,0.391-0.391,1.023,0,1.414C40.488,42.902,40.744,43,41,43s0.512-0.098,0.707-0.293l9-9   c0.391-0.391,0.391-1.023,0-1.414S49.684,31.902,49.293,32.293z" />

                <path
                  d="M51.29,31.71C51.479,31.89,51.74,32,52,32c0.27,0,0.52-0.11,0.71-0.29C52.89,31.52,53,31.26,53,31   c0-0.271-0.11-0.521-0.29-0.71c-0.37-0.37-1.04-0.37-1.42,0C51.109,30.479,51,30.729,51,31C51,31.26,51.109,31.52,51.29,31.71z" />

                <path
                  d="M59.909,11.709c-0.002-0.109-0.014-0.218-0.044-0.324l-0.146,0.042c-0.002-0.003-0.003-0.006-0.006-0.008l0.149-0.044   C58.225,5.361,53.122,0.946,47,0.14V0L31,0v0h-0.181h-1.639H29v0.001l-14.002,0C8.069,0.013,1.959,4.689,0.142,11.362   C0.11,11.473,0.099,11.586,0.097,11.7C0.036,11.841,0,11.996,0,12.16V14v38v8h15h16h29v-8V14v-1.84   C60,12,59.968,11.848,59.909,11.709z M45.93,2.04c5.371,0.381,9.974,3.94,11.724,8.96H45h-0.204c-0.938-3.868-3.391-7.069-6.661-9   h6.841L45.93,2.04z M43,14c0,0.824-0.167,1.61-0.469,2.325l-0.07,0.146c-0.016,0.036-0.034,0.071-0.051,0.107   c-0.246,0.516-0.562,0.987-0.933,1.403c-0.003,0.003-0.006,0.007-0.009,0.01c-0.916,1.023-2.167,1.709-3.53,1.928   c-0.052,0.008-0.104,0.017-0.157,0.024C37.523,19.978,37.263,20,37,20s-0.526-0.023-0.787-0.058   c-0.055-0.007-0.11-0.016-0.165-0.025c-0.25-0.041-0.5-0.093-0.745-0.165c-0.01-0.003-0.021-0.005-0.032-0.008l-0.086-0.026   C32.761,18.947,31,16.676,31,14v-1h12V14z M52.795,21.96c0.019-0.002,0.037-0.004,0.056-0.006c0.087-0.009,0.171-0.027,0.257-0.039   c0.155-0.022,0.311-0.041,0.464-0.071c0.035-0.007,0.07-0.016,0.104-0.023c0.097-0.021,0.191-0.049,0.286-0.073   c0.121-0.031,0.243-0.058,0.362-0.094c0.05-0.015,0.098-0.032,0.147-0.048c0.097-0.032,0.191-0.069,0.287-0.104   c0.08-0.029,0.162-0.052,0.241-0.085V49H36V21.937c0.019,0.002,0.038,0,0.057,0.003C36.367,21.976,36.68,22,37,22   c0.051,0,0.1-0.007,0.15-0.008c0.033-0.001,0.065-0.004,0.098-0.005c0.252-0.008,0.501-0.025,0.747-0.056   c0.094-0.012,0.187-0.028,0.28-0.043c0.247-0.04,0.489-0.091,0.728-0.153c0.083-0.021,0.166-0.04,0.248-0.064   c0.307-0.09,0.607-0.195,0.898-0.32c0.045-0.019,0.086-0.043,0.13-0.063c0.247-0.112,0.487-0.236,0.721-0.372   c0.081-0.047,0.159-0.095,0.238-0.145c0.212-0.133,0.416-0.275,0.614-0.427c0.055-0.042,0.113-0.081,0.167-0.125   c0.243-0.196,0.473-0.406,0.692-0.629c0.049-0.05,0.094-0.104,0.142-0.156c0.169-0.182,0.329-0.371,0.481-0.567   c0.057-0.074,0.113-0.148,0.167-0.224c0.142-0.198,0.274-0.403,0.398-0.614c0.006-0.011,0.015-0.02,0.021-0.031h0.16   c0.008,0.013,0.017,0.024,0.025,0.037c0.123,0.209,0.254,0.411,0.394,0.607c0.05,0.07,0.101,0.139,0.154,0.208   c0.012,0.016,0.024,0.031,0.037,0.047c0.145,0.186,0.297,0.364,0.457,0.536c0.048,0.052,0.093,0.106,0.142,0.156   c0.218,0.223,0.449,0.433,0.692,0.629c0.052,0.042,0.107,0.079,0.16,0.12c0.003,0.002,0.006,0.004,0.01,0.007   c0.197,0.151,0.401,0.293,0.612,0.425c0.079,0.049,0.157,0.098,0.238,0.145c0.233,0.135,0.473,0.26,0.721,0.372   c0.044,0.02,0.086,0.044,0.13,0.063c0.29,0.125,0.591,0.23,0.898,0.32c0.054,0.016,0.109,0.031,0.163,0.046   c0.028,0.008,0.058,0.011,0.086,0.018c0.238,0.062,0.48,0.113,0.727,0.152c0.069,0.011,0.136,0.028,0.206,0.038   c0.03,0.004,0.061,0.004,0.092,0.008C50.344,21.973,50.668,22,51,22h1C52.267,22,52.532,21.986,52.795,21.96z M28,20.239V34H18   V20.239c0.002,0.002,0.004,0.003,0.006,0.005c0.028,0.022,0.057,0.041,0.085,0.063c0.073,0.057,0.15,0.111,0.225,0.165   c0.145,0.105,0.293,0.205,0.445,0.3c0.076,0.048,0.151,0.095,0.229,0.14c0.047,0.027,0.092,0.057,0.139,0.084   c0.118,0.065,0.24,0.122,0.361,0.182c0.089,0.044,0.177,0.09,0.268,0.13c0.031,0.014,0.061,0.03,0.093,0.044   c0.097,0.042,0.198,0.075,0.297,0.113c0.101,0.039,0.202,0.077,0.305,0.112c0.098,0.033,0.196,0.066,0.296,0.095   c0.053,0.016,0.107,0.031,0.161,0.046c0.087,0.024,0.176,0.043,0.264,0.064c0.117,0.028,0.234,0.054,0.353,0.077   c0.089,0.017,0.177,0.031,0.267,0.045c0.07,0.011,0.141,0.02,0.212,0.029c0.082,0.01,0.163,0.023,0.246,0.031   C22.498,21.986,22.748,22,23,22s0.502-0.014,0.75-0.038c0.083-0.008,0.164-0.021,0.246-0.031c0.071-0.009,0.141-0.018,0.212-0.029   c0.089-0.014,0.178-0.028,0.267-0.045c0.119-0.022,0.236-0.049,0.353-0.077c0.088-0.021,0.177-0.04,0.264-0.064   c0.054-0.015,0.107-0.03,0.161-0.046c0.1-0.029,0.198-0.062,0.296-0.095c0.103-0.035,0.204-0.073,0.305-0.112   c0.099-0.038,0.2-0.071,0.297-0.113c0.031-0.014,0.062-0.03,0.093-0.044c0.091-0.04,0.179-0.087,0.268-0.131   c0.121-0.059,0.243-0.116,0.36-0.181c0.047-0.026,0.093-0.057,0.139-0.084c0.077-0.045,0.153-0.092,0.228-0.14   c0.152-0.095,0.3-0.195,0.445-0.3c0.075-0.055,0.152-0.108,0.225-0.165c0.028-0.022,0.058-0.041,0.085-0.063   C27.996,20.242,27.998,20.241,28,20.239z M17,13h12v1c0,1.238-0.377,2.389-1.022,3.346l-0.013,0.018   c-0.032,0.047-0.069,0.091-0.103,0.137c-0.109,0.151-0.224,0.297-0.346,0.436c-0.04,0.046-0.082,0.091-0.123,0.135   c-0.118,0.127-0.241,0.249-0.369,0.365c-0.039,0.035-0.076,0.071-0.116,0.105c-0.347,0.298-0.724,0.557-1.126,0.768   c-0.017,0.009-0.034,0.016-0.051,0.025c-0.182,0.093-0.368,0.176-0.558,0.251c-0.045,0.018-0.091,0.034-0.137,0.05   c-0.166,0.06-0.334,0.112-0.504,0.158c-0.056,0.015-0.113,0.03-0.17,0.044c-0.168,0.039-0.339,0.07-0.511,0.094   c-0.056,0.008-0.111,0.019-0.168,0.026C23.458,19.984,23.23,20,23,20s-0.458-0.016-0.683-0.042   c-0.057-0.006-0.112-0.018-0.168-0.026c-0.172-0.025-0.343-0.055-0.511-0.094c-0.057-0.013-0.113-0.029-0.17-0.044   c-0.171-0.045-0.339-0.098-0.504-0.158c-0.046-0.017-0.092-0.033-0.137-0.05c-0.19-0.074-0.376-0.157-0.558-0.251   c-0.017-0.009-0.035-0.016-0.051-0.025c-0.402-0.211-0.779-0.47-1.126-0.768c-0.04-0.034-0.077-0.07-0.116-0.105   c-0.128-0.116-0.251-0.238-0.369-0.365c-0.042-0.045-0.083-0.089-0.123-0.135c-0.122-0.139-0.237-0.285-0.346-0.436   c-0.033-0.046-0.07-0.09-0.103-0.137l-0.013-0.018C17.377,16.389,17,15.238,17,14V13z M31,2.001   C36.511,2.08,41.259,5.776,42.742,11H31V2.001z M29,11H17.258C18.741,5.776,23.489,2.08,29,2.001V11z M15.023,2h6.841   c-3.27,1.931-5.723,5.132-6.661,9H15H2.348C4.212,5.666,9.288,2.011,15.023,2z M2,13h12.802H15v1c0,2.676-1.761,4.947-4.185,5.718   l-0.086,0.026c-0.01,0.003-0.021,0.005-0.032,0.008c-0.245,0.072-0.494,0.125-0.745,0.165c-0.055,0.009-0.109,0.018-0.165,0.025   C9.526,19.977,9.263,20,9,20H8c-0.275,0-0.546-0.025-0.814-0.062c-0.065-0.009-0.129-0.019-0.193-0.03   c-0.266-0.045-0.53-0.102-0.786-0.183c-0.004-0.001-0.007-0.003-0.01-0.004c-0.259-0.082-0.51-0.186-0.756-0.303   c-0.046-0.022-0.092-0.043-0.137-0.066c-0.246-0.125-0.486-0.264-0.716-0.424C3.026,17.844,2,16.041,2,14V13z M5,21.416   c0.079,0.032,0.161,0.055,0.241,0.085c0.096,0.035,0.19,0.072,0.287,0.104c0.049,0.016,0.097,0.033,0.147,0.048   c0.12,0.036,0.241,0.063,0.362,0.094c0.095,0.024,0.189,0.052,0.286,0.073c0.035,0.008,0.069,0.016,0.104,0.023   c0.153,0.031,0.309,0.05,0.464,0.071c0.086,0.012,0.17,0.03,0.257,0.039c0.019,0.002,0.037,0.005,0.056,0.006   C7.468,21.986,7.733,22,8,22h1c0.316,0,0.627-0.023,0.934-0.059c0.022-0.003,0.044-0.001,0.066-0.004V49H5V21.416z M2,54h3v4H2V54z    M9,54v4H7v-4H9z M11,58v-4h2v4H11z M55,54v4h-2v-4H55z M51,58h-2v-4h2V58z M47,58h-2v-4h2V58z M43,58h-2v-4h2V58z M39,58h-2v-4h2   V58z M35,58h-2v-4h2V58z M58,58h-1v-4h1V58z M58,19.286V52H31v6H15v-6H2V19.286c0.05,0.057,0.108,0.108,0.16,0.163   c0.102,0.109,0.205,0.217,0.313,0.321c0.086,0.083,0.175,0.162,0.265,0.241C2.824,20.086,2.91,20.163,3,20.235V51h9V21.411   c0.05-0.02,0.1-0.038,0.149-0.059c0.045-0.019,0.086-0.043,0.13-0.063c0.247-0.112,0.487-0.236,0.721-0.372   c0.081-0.047,0.159-0.095,0.238-0.145c0.212-0.133,0.416-0.275,0.614-0.427c0.055-0.042,0.113-0.081,0.167-0.125   c0.243-0.196,0.473-0.406,0.692-0.629c0.049-0.05,0.094-0.104,0.142-0.156c0.169-0.182,0.329-0.371,0.481-0.567   c0.057-0.074,0.113-0.148,0.167-0.224c0.157-0.219,0.303-0.445,0.437-0.679c0.019-0.033,0.043-0.063,0.062-0.096V36h14V17.87   c0.019,0.033,0.043,0.063,0.062,0.096c0.134,0.234,0.281,0.46,0.437,0.679c0.054,0.076,0.11,0.15,0.167,0.224   c0.152,0.197,0.312,0.386,0.481,0.567c0.048,0.052,0.093,0.106,0.142,0.156c0.218,0.223,0.449,0.433,0.692,0.629   c0.054,0.044,0.112,0.083,0.167,0.125c0.198,0.152,0.402,0.294,0.614,0.427c0.079,0.049,0.157,0.098,0.238,0.145   c0.233,0.135,0.473,0.26,0.721,0.372c0.044,0.02,0.086,0.044,0.13,0.063c0.049,0.021,0.1,0.039,0.149,0.059V51h23V20.235   c0.09-0.072,0.175-0.148,0.262-0.224c0.09-0.079,0.179-0.158,0.265-0.241c0.108-0.104,0.211-0.211,0.313-0.321   C57.892,19.394,57.95,19.343,58,19.286z M55.413,18.929c-0.23,0.16-0.47,0.299-0.716,0.424c-0.045,0.023-0.091,0.044-0.137,0.066   c-0.246,0.117-0.497,0.221-0.756,0.303c-0.004,0.001-0.007,0.003-0.01,0.004c-0.257,0.081-0.52,0.138-0.786,0.183   c-0.064,0.011-0.129,0.021-0.193,0.03C52.546,19.975,52.275,20,52,20h-1c-0.263,0-0.523-0.022-0.781-0.057   c-0.053-0.007-0.105-0.016-0.157-0.024c-1.363-0.22-2.614-0.906-3.53-1.928c-0.003-0.003-0.006-0.007-0.009-0.01   c-0.371-0.416-0.687-0.887-0.933-1.403c-0.017-0.036-0.035-0.071-0.051-0.107l-0.07-0.146C45.167,15.61,45,14.824,45,14v-1h0.198   H58v1C58,16.041,56.974,17.844,55.413,18.929z" />

                <rect height="27" width="2" x="13" y="23" />

                <rect height="27" width="2" x="31" y="23" />

              </g>

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

              <g />

            </svg>
          </div>
          <span class="nav-link-text ms-1">Organizaciones</span>
        </a>
      </li>





      <li class="nav-item">
        <a class="nav-link  " href="/users/login">
          <div
            class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <svg width="12px" height="12px" viewBox="0 0 40 44" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>document</title>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-1870.000000, -591.000000)" fill="#FFFFFF" fill-rule="nonzero">
                  <g transform="translate(1716.000000, 291.000000)">
                    <g transform="translate(154.000000, 300.000000)">
                      <path class="color-background opacity-6"
                        d="M40,40 L36.3636364,40 L36.3636364,3.63636364 L5.45454545,3.63636364 L5.45454545,0 L38.1818182,0 C39.1854545,0 40,0.814545455 40,1.81818182 L40,40 Z">
                      </path>
                      <path class="color-background"
                        d="M30.9090909,7.27272727 L1.81818182,7.27272727 C0.814545455,7.27272727 0,8.08727273 0,9.09090909 L0,41.8181818 C0,42.8218182 0.814545455,43.6363636 1.81818182,43.6363636 L30.9090909,43.6363636 C31.9127273,43.6363636 32.7272727,42.8218182 32.7272727,41.8181818 L32.7272727,9.09090909 C32.7272727,8.08727273 31.9127273,7.27272727 30.9090909,7.27272727 Z M18.1818182,34.5454545 L7.27272727,34.5454545 L7.27272727,30.9090909 L18.1818182,30.9090909 L18.1818182,34.5454545 Z M25.4545455,27.2727273 L7.27272727,27.2727273 L7.27272727,23.6363636 L25.4545455,23.6363636 L25.4545455,27.2727273 Z M25.4545455,20 L7.27272727,20 L7.27272727,16.3636364 L25.4545455,16.3636364 L25.4545455,20 Z">
                      </path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <span class="nav-link-text ms-1">Salir</span>
        </a>
      </li>

    </ul>
  </div>
  <!-- <div class="sidenav-footer mx-3 ">
      <div class="card card-background shadow-none card-background-mask-secondary" id="sidenavCard">
        <div class="full-background" style="background-image: url('../img/curved-images/white-curved.jpg')"></div>
        <div class="card-body text-start p-3 w-100">
          <div class="icon icon-shape icon-sm bg-white shadow text-center mb-3 d-flex align-items-center justify-content-center border-radius-md">
            <i class="ni ni-diamond text-dark text-gradient text-lg top-0" aria-hidden="true" id="sidenavCardIcon"></i>
          </div>
          <div class="docs-info">
            <h6 class="text-white up mb-0">Need help?</h6>
            <p class="text-xs font-weight-bold">Please check our docs</p>
            <a href="https://www.creative-tim.com/learning-lab/bootstrap/license/soft-ui-dashboard" target="_blank" class="btn btn-white btn-sm w-100 mb-0">Documentation</a>
          </div>
        </div>
      </div>
      <a class="btn bg-gradient-primary mt-3 w-100" href="https://www.creative-tim.com/product/soft-ui-dashboard-pro?ref=sidebarfree">Upgrade to pro</a>
    </div> -->
</aside>